<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [9]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [10]:
duplicatedata=df.duplicated().sum()
duplicatedata

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [11]:
# your cod goes
df=df.drop_duplicates()

Verify if duplicates were actually dropped.

In [12]:
# your code goes here
df.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [13]:
missingdata=df.isnull()
print(df[missingdata])

       Respondent MainBranch Hobbyist OpenSourcer OpenSource Employment  \
0             NaN        NaN      NaN         NaN        NaN        NaN
1             NaN        NaN      NaN         NaN        NaN        NaN
2             NaN        NaN      NaN         NaN        NaN        NaN
3             NaN        NaN      NaN         NaN        NaN        NaN
4             NaN        NaN      NaN         NaN        NaN        NaN
...           ...        ...      ...         ...        ...        ...
11547         NaN        NaN      NaN         NaN        NaN        NaN
11548         NaN        NaN      NaN         NaN        NaN        NaN
11549         NaN        NaN      NaN         NaN        NaN        NaN
11550         NaN        NaN      NaN         NaN        NaN        NaN
11551         NaN        NaN      NaN         NaN        NaN        NaN

      Country Student EdLevel UndergradMajor  ... WelcomeChange SONewContent  \
0         NaN     NaN     NaN            NaN  ...           NaN          NaN
1         NaN     NaN     NaN            NaN  ...           NaN          NaN
2         NaN     NaN     NaN            NaN  ...           NaN          NaN
3         NaN     NaN     NaN            NaN  ...           NaN          NaN
4         NaN     NaN     NaN            NaN  ...           NaN          NaN
...       ...     ...     ...            ...  ...           ...          ...
11547     NaN     NaN     NaN            NaN  ...           NaN          NaN
11548     NaN     NaN     NaN            NaN  ...           NaN          NaN
11549     NaN     NaN     NaN            NaN  ...           NaN          NaN
11550     NaN     NaN     NaN            NaN  ...           NaN          NaN
11551     NaN     NaN     NaN            NaN  ...           NaN          NaN

      Age Gender Trans Sexuality Ethnicity Dependents SurveyLength SurveyEase
0     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
1     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
2     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
3     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
4     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
...    ..    ...   ...       ...       ...        ...          ...        ...
11547 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11548 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11549 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11550 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11551 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN

[11398 rows x 85 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [15]:
# your code goes here
misdata=df["WorkLoc"].isnull().sum()
print(misdata)

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [16]:
# your code goes here
countt=df["WorkLoc"].value_counts()
countt

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [17]:
#make a note of the majority value here, for future reference
#
freq=df["WorkLoc"].value_counts().idxmax()
print(freq)

Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [18]:
df["WorkLoc"]=df["WorkLoc"].fillna(freq)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [19]:
# your code goes here
miss=df["WorkLoc"].isnull().sum()
miss

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [20]:
# your code goes here
compfreqCAT=df["CompFreq"].value_counts()
compfreqCAT

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [21]:
uniquevalues=df["CompFreq"].unique()
print(uniquevalues)

['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [29]:
# your code goes here
mediant=df["CompTotal"].median()
max=df["CompTotal"].max()
mon=df["CompTotal"]/12
week=df["CompTotal"]/52
df.drop(["NormalizedAnnualCompensation"],axis=1)
for i in df["CompFreq"]:
    if i=="Yearly":
         df["NormalizedAnnualCompensation"]=df["CompTotal"]/max
    elif i=="Monthly":
         df["NormalizedAnnualCompensation"]=mon/max
    elif i=="Weekly":
         df["NormalizedAnnualCompensation"]=week/max
df["NormalizedAnnualCompensation"]=df["NormalizedAnnualCompensation"].replace(np.nan,mediant)
mediann=df["NormalizedAnnualCompensation"].median()
mediann

0.0001

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).